<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% assign pins = site.static_files | where: "pin", true %}
        {% assign bundles = pins | group_by: 'bundle' %}
        
        {% for batch in bundles %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ batch.name }}</a>
            
            {% assign boardArray = '' | split: ',' %}
            {% assign boardCounter = '' | split: ',' %}
            
            {% for item in batch.items %}
              {% assign board = item.path | remove: '/boards/' | remove: item.bundle | remove: item.name | remove: '/' %}
              {% assign boardArray = boardArray | push: board  %}
            {% endfor %}
          
            <ul class="dropdown-menu">
              {% assign uniqBoards = boardArray | uniq %}
              {% for board in uniqBoards %}
                <li><a class="dropdown-item" href="/boards/{{ batch.name }}/{{ board }}">{{ board }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>